html body{
    min-height: 100%;
    background: url(Artipelag.png) , #040202;
    /*background-image: url(Artipelag.png);*/
    background-size:  100%;
    background-repeat: no-repeat;
    overflow-y: scroll;
    font-family: Gill Sans MT, sans-serif;}
.title{
    text-align: center;
    vertical-align: middle;
    background-color: #575757;
    color: azure;
    line-height: 70px;
    margin-top: 0;
    z-index: 1;
    position: fixed !important;
    margin-bottom: 10px;
    display: block;
    box-shadow: 0px -10px 20px 3px white;
    text-transform: uppercase;
}
.allProjects{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;}
.projectContainer{
    margin-bottom: 40px;
    font-size: 20px;
    color: white;
    text-align: left;  }
.projectContainer h1{margin-bottom: 0px;}
.txtContainer{
    margin-top: 0px;
    color: rgba(256,256,256,0.0);
    -webkit-transition: color 400ms;
    overflow: hidden;
    font-family: sans-serif;
}
div.txtContainer:hover{color: rgba(256,256,256,1);}
.imgContainer{
    text-align: center;
    width: 100%;
    padding: 0 !important;
    padding-left: 0px;
    padding-right: 0px;
    background: linear-gradient(to right, rgba(150,150,150,1), rgba(1,1,1,1));
    border-radius: 50%;
}
imgContainerCam{
width: 100%;

padding: 0 !important;
padding-left: 0px;
padding-right: 0px;

}
.projImg.adam{
    width: 100%;
    clip: rect(0px, 0px, 40px, 0px);
    border-radius: 50%;
    opacity: 0.7;}
.projImg.cam{
    width:100%;
    /*height: 224px;*/
    left: 0px;
    border-radius: 50%  ;



    }